.home-hero-banner{
width: 100%;
height: 500px; 
}
.menu a{
    color: white;
}

 .banner-logo{
   
    align-items: center;
 justify-content: center;
    margin-bottom: 10px;
    margin-left: 10px;

margin-top: -600px;
position: relative;
}
.white-logo{
    
    width: 60px;
    
}
footer{
    width: 100%;
    height: 300px;
}
.footer-info{
    color: white;
}
.business-contact{
    color: #fff;
}
.footer-hero-banner{
 width: 20%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    
    color:white;
    margin-top: -30px;
    justify-content: end;    
    display: flex;


}
.menu li{
    
    
    margin: 0px 20px  0px 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}
.menu a{
    text-decoration: none;
}
.main-menu  {
    
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
        justify-content: end; }
        

        .banner{
            display: flex;
            justify-content: center;
            position: relative;
        }
   .search-form{
       margin-top: -25px;
       display:none;
   }
   .home-logo{
       width: 100%;
       height: 600px;
       background-position: left,center 50px,center;
       background-repeat: repeat,no-repeat,repeat;
       background-size: cover,contain,cover;
       margin-top: -65px;
       background-image: url("./images/home-hero.jpg");
   }
    .home-hero-logo{
        display: flex;
        align-items: center;
justify-content: center;
// position: relative;

 }
 .image-about{
    
    height: 600px;
    background-position: left,center 50px,center;
    background-repeat: repeat,no-repeat,repeat;
    background-size: cover,contain,cover;
    margin-top: -65px;
    background-size: 100%;
    background-image: url("./images/about-hero.jpg");
// }
//  .image-about{
//      display: flex;
//      align-items: center;
// justify-content: center;
// // .home-hero-logo img{
//     margin-top: 15%;
}