
/***** sop *****/
.shop-title2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px;
}
.product-types{

  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
  margin-top: 30px;
  padding: 10px;
  text-transform: uppercase;
  a{
    text-decoration: none;
    font-family: 'Novecento';
    color: #248a83;
    margin: 10px;
    
  }
 
  }
  .archive-products{
    border: 1px solid #e1e1e1;
    margin: 10px;
    

img{
  width: 100%;
  height: 259px;
  background-image: 100%;
  
  
}
  
a{
  text-decoration: none;
} 
p{
  padding: 10px;
}

}
.dashed{
    border:1px dashed #e1e1e1;
}
.dotted{
  border: 1px solid #e1e1e1;
}
.product-info{
  display: flex;
}
  
    
.taxonomy-products-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    
    
}
.product-type-links a{
    margin: 10px;
    text-decoration: none;
    

}


/****** eat taxonomy ****/
.product-type-header{
  h1{
    text-align: center;
    font-size: 40px;
    margin: 5px;
    font-family: 'Novecento-bold';
  }
  p{
    font-family: 'Merriweather-Light';
  }
}

/**** single product ******/
.single-product-page{
  display: grid;
  grid-template-columns: auto auto;
  width: 1100px;
  margin: auto;

  img{
    width: 600px;
    height: 400px;
  }
  .single-product-info{
    width: 100%;
    padding: 10px;
    h2{
      font-size: 30px;
      color: #d99054;
      text-transform: uppercase;
      font-family: 'Novecento-bold';

    }
    .price-text{
      font-family: 'Novecento';
      margin:10px 0px 10px 0px;
      font-size: 20px;
    }
    p{
      
      font-family: 'Merriweather-Light';
    }
    .social-button {
      display: flex;
      
      button{
        background: none;
        margin: 5px;
      width: 80px;
      height: 30px;
      font-family: 'Novecento-bold';
    }
  }
  }
}


// .journal-posts{
//     width: 100%;
  
//  }
//  .shop-title{
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      font-size: 30px;
//      text-transform: uppercase;
//      margin: 10px;

//  }
 
 


 
// .tags{
//     display: flex;
    

// }
// .tags p{
//     margin: 5px;
    
// }

// /**********start -  single productt styles *********/
// .single-product-page {
//     display: flex;
 
// }
// .single-product-page img{
//     width: 400px;
//     height: 400px;
//     margin: 10px;
// }
// .single-product-info{
    
//     display: flex;

    
//     flex-direction: column;
//     p{
//         font-size: 16px;
//         font-family: 'Merriweather Web';
//     }
//     p:nth-child(3){
//         width: 50%;
//         font-family: 'Merriweather Web';
//     }
    
//     h2{
//         text-transform: uppercase;
//         color: #d99054;
//         margin: 5px;
  
//         font-family: 'Merriweather Web light';
//     }
    
// }
// .photo-text img{
//     margin-top: 50px;
// }





// .product-types{

//     font-size: 30px;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     margin-top: 30px;
//     padding: 10px;
//     text-transform: uppercase;
//     }
//    .product-types a{
//        margin: 10px;
//    } 
    
// .taxonomy-products-grid{
//     display: grid;
//     grid-template-columns: auto auto auto auto;
//     width: 100%;
    
    
// }
// .product-type-links a{
//     margin: 10px;
//     text-decoration: none;
    

// }






// .journal-posts{
//     width: 100%;
  
//  }
//  .shop-title{
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      font-size: 30px;
//      text-transform: uppercase;
//      margin: 10px;

//  }
 
 


 
// .tags{
//     display: flex;
    

// }
// .tags p{
//     margin: 5px;
    
// }

// /**********start -  single productt styles *********/
// .single-product-page {
//     display: flex;
 
// }
// .single-product-page img{
//     width: 400px;
//     height: 400px;
//     margin: 10px;
// }
// .single-product-info{
    
//     display: flex;

    
//     flex-direction: column;
//     p{
//         font-size: 16px;
//         font-family: 'Merriweather Web';
//     }
//     p:nth-child(3){
//         width: 50%;
//         font-family: 'Merriweather Web';
//     }
    
//     h2{
//         text-transform: uppercase;
//         color: #d99054;
//         margin: 5px;
  
//         font-family: 'Merriweather Web light';
//     }
    
// }
// .photo-text img{
//     margin-top: 50px;
// }


// .product-types {
//   font-size: 30px;
//   -webkit-box-pack: center;
//       -ms-flex-pack: center;
//           justify-content: center;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   margin-top: 30px;
//   padding: 10px;
//   text-transform: uppercase; }

// .product-types a {
//   margin: 10px; }

// .taxonomy-products-grid {
//   display: grid;
//   grid-template-columns: auto auto auto auto;
//   width: 100%; }

// .product-type-links a {
//   margin: 10px;
//   text-decoration: none; }

// .archive-products {
//   margin: 5px; }

// .archive-products img {
//   width: 100%;
//   height: 259px;
//   padding: 5px;
//   margin: 10px; }
// // /**********start -  single productt styles *********/
// // .single-product-page {
// //   display: -webkit-box;
// //   display: -ms-flexbox;
// //   display: flex; }

// // .single-product-page img {
// //   width: 400px;
// //   height: 400px;
// //   margin: 10px; }

// // .single-product-info {
// //   display: -webkit-box;
// //   display: -ms-flexbox;
// //   display: flex;
// //   -webkit-box-orient: vertical;
// //   -webkit-box-direction: normal;
// //       -ms-flex-direction: column;
// //           flex-direction: column; }
// //   .single-product-info p {
// //     font-size: 16px;
// //     font-family: 'Merriweather Web'; }
// //   .single-product-info p:nth-child(3) {
// //     width: 50%;
// //     font-family: 'Merriweather Web'; }
// //   .single-product-info h2 {
// //     text-transform: uppercase;
// //     color: #d99054;
// //     margin: 5px;
// //     font-family: 'Merriweather Web light'; }

// // .photo-text img {
// //   margin-top: 50px; }

// // .error-page {
// //   display: grid;
// //   grid-template-columns: 2fr 1fr; }
// //   .error-page .error-page-search {
// //     grid-column-start: 1;
// //     padding: 20px 50px;
// //     border-right: 1px solid #a1a1a1;
// //     padding-bottom: 120px; }
// //     .error-page .error-page-search h1 {
// //       text-align: left;
// //       font-size: 40px;
// //       padding-bottom: 30px; }
// //     .error-page .error-page-search p {
// //       padding-bottom: 20px; }
// //     .error-page .error-page-search input {
// //       padding: 8px;
// //       background: #F0F0F0;
// //       border-width: 0;
// //       font-family: 'Merriweather';
// //       font-size: 16px; }
// //   .error-page .error-page-posts h2 {
// //     font-size: 25px;
// //     padding-top: 20px;
// //     padding-bottom: 30px; }
// //   .error-page .error-page-posts li {
// //     padding-bottom: 10px; }
// //     .error-page .error-page-posts li a {
// //       text-decoration: none;
// //       color: #248a83; }
// //   .error-page .error-page-categories h2 {
// //     font-size: 25px;
// //     padding-top: 20px;
// //     padding-bottom: 30px; }
// //   .error-page .error-page-categories li {
// //     padding-bottom: 10px; }
// //     .error-page .error-page-categories li a {
// //       text-decoration: none;
// //       color: #248a83; }
// //   .error-page .error-page-archives h2 {
// //     font-size: 25px;
// //     padding-top: 20px;
// //     padding-bottom: 30px; }
// //   .error-page .sidebar {
// //     grid-column-start: 2; }



